[core]
    excludesfile = ~/.gitignore
    fileMode = false
    autocrlf = input
    editor = vim
[fetch]
    prune = true
[push]
    default = upstream
[pull]
    default = current
    rebase = true
[alias]
    s = status
    h = rev-parse HEAD
    ci = commit
    cis = commit -S
    br = branch
    co = checkout
    aa = add --all
    rev = remote -v
    logg = log --graph --oneline --decorate --all
    logn = log --stat --graph --oneline --decorate --all
    logl = log --pretty=short -u -L
    diffn = diff --stat
    diffs = diff --staged
    stashd = stash show -p ; get diff of the latest stash
[user]
    name = PastLeo
    email = chgu82837@gmail.com
    signingkey = PastLeo <chgu82837@gmail.com>
[include]
    path = .gitconfig.local
; to overwrite config per machine, create ~/.gitconfig.local with:
; [user]
;     name = ...
;     email = ...
;     signingkey = ...
; [commit]
;     gpgsign = true
