[Desktop Entry]
Name=Firefox With My Profile
GenericName=Web Browser
Exec=sh -c 'firefox -P "${FIREFOX_MY_PROFILE:-default-release}" "$@"' sh %u
Icon=firefox
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;application/x-xpinstall;application/pdf;application/json;
StartupNotify=true
StartupWMClass=firefox
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;profile-manager

[Desktop Action new-window]
Name=New Window
Exec=sh -c 'firefox -P "${FIREFOX_MY_PROFILE:-default-release}" --new-window "$@"' sh %u

[Desktop Action new-private-window]
Name=New Private Window
Exec=sh -c 'firefox -P "${FIREFOX_MY_PROFILE:-default-release}" --private-window "$@"' sh %u

[Desktop Action profile-manager]
Name=Profile Manager
Exec=firefox --ProfileManager
